*{
    margin: 0;
    padding: 0;
}

.container{
 background: #0a0909;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
flex-direction: column;
}

#displayTime{
    font-size: 100px;
    box-shadow: 0px 0px 10px black;
    padding: 10px;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}

#buttons{
    display: flex;
}

button{
    padding: 20px;
    background-color: darkred;
    border-radius: 10px;
    color: white;
    font-size: larger;
    margin: 10px;
    width: 100px;
    box-shadow: 5 5 1 rgba(56, 51, 56, 0.5);
    transition: all 0.5s;

}
button:hover{
    cursor: pointer;
}

button:active{
    box-shadow: none;
    transition: all 0.5s;
}